URxvt.font:         xft:Hack-Regular:pixelsize=16,xft:Symbola
URxvt.boldFont:     xft:Hack-Bold:pixelsize=16:weight=bold,xft:Symbola
URxvt.italicFont:   xft:Hack-RegularOblique:pixelsize=16:slant=italic,xft:Symbola

URxvt.scrollBar:    false
URxvt.internalBorder:  40

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! special
*.foreground:   #d8dee8
*.background:   #2f343f
*.cursorColor:  #b48ead

! black
*.color0  : #e5e9f0
*.color8  : #d1d5dc

! red
*.color1  : #bf616a
*.color9  : #b3555e

! green
*.color2  : #a3be8c
*.color10 : #93ae7c

! yellow
*.color3  : #ebcb8b
*.color11 : #dbbb7b

! blue
*.color4  : #81a1c1
*.color12 : #7191b1

! magenta
*.color5  : #b48ead
*.color13 : #a6809f

! cyan
*.color6  : #89d0bA
*.color14 : #7dbba8

! white
*.color7  : #e5e9f0
*.color15 : #d1d5dc